services:
  app:
    build: .
    container_name: video_search_engine
    stdin_open: true
    tty: true
    volumes:
      - ./src:/app/src
      - ./data:/app/data
      - hf_cache:/root/.cache/huggingface
    # COPY THIS SECTION EXACTLY:
    environment:
      - VIPS_CONCURRENCY=1
      - VIPS_DISC_THRESHOLD=10mb
      - OMP_NUM_THREADS=1
      - VIPS_NOMMAP=1   

volumes:
  hf_cache: